@font-face {
    font-family: pepa;
    src: url(/way_number_two/assets/fonts/ProtestRiot-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: pepa;
}


.container {
    
}

.header {   
    display: flex;  
    background-color: #4F81DA;
}

.logo {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    margin-right: 0px;
}

.logo-img {
    width: 70px;
    margin: 0;
}

.title{
    display: flex;
    align-items: center;
    order: 2;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 700px;
    background: url(assets/main-back.png) center/cover no-repeat;
}
.indroduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.introduction-img {
    margin-top: 20px;
    width: 650px;
    height: 400px;
}

.indroduction-text {
    width: 400px;
}

.pictures-frog-and-arrow {
    display: flex;
    justify-content: center;
}

.tadpoel {
    width: 100px;
    margin-right: 40px;
}
.arrow {
    margin: 0;
}

.frog {
    width: 300px;
    margin: 0;
}

.gameplay-show {
    align-self: center;
}

.gameplay-gif {
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #E3BC6B;
    justify-content: center;
    align-items: center;
}

.download_button {
    margin: 10px;
    width: 200px;
    font-size: 2em;
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px;
    background-color: rgb(43, 226, 137);
    text-decoration: none;
    color: beige;
    text-align: center;
    font-family: pepa;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.454);
}



/* name duration timing-function delay iteration-count direction fill-mode */
