@font-face {
    font-family: pepa;
    src: url(assets/fonts/ProtestRiot-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: pepa;
}


.container {
    background: url(assets/main-back.png) center/cover no-repeat;
}

.header {   
    display: flex;  
    background-color: #4F81DA;
}

.logo {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    margin-right: 0px;
}

.logo-img {
    width: 70px;
    margin: 0;
}

.title{
    display: flex;
    align-items: center;
    order: 2;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 700px;
    
    
}
.indroduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.introduction-img {
    margin-top: 20px;
    width: 650px;
    height: 400px;
}

.indroduction-text {
    text-align: center;
    width: 400px;
}

.frog-develop {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 10px;
}

.pictures-frog-and-arrow {
    display: flex;
    justify-content: center;
    margin-bottom:15px;
}

.tadpoel {
    width: 250px;
    margin: 0;
    margin-right:-60px;
}

.tadpoel-hand {
    margin-left: 40px;
    width: 150px;
    height: 250px;
    margin-right: 40px;
}
.arrow {
    margin: 0;
}

.frog {
    width: 300px;
    margin: 0;
}

.frog-develop-text {
    text-align: center;
    width: 400px;
}

.realistic{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.realistic-show {
    display: flex;
    justify-content: center;
}
.realistic-frog {
    display: flex;
    justify-content: center;
}

.realistic-frog-ingame{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frog {

}

.realistic-frog-real{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.real-frog {
    width: 300px;
}

.realistic-tadpoel {
    display: flex;
}

.realistic-tadpoel-ingame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tadpoel-game {
    width: 300px;
    height: 206.5px;
}

.realistic-tadpoel-real {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.real-tadpoel {
    width: 300px;
    height: 200px;
}



.text-realistic {
    text-align: center;
    width: 400px;
}


.gameplay-show {
    align-self: center;
}

.gameplay-gif {
}

.instuction {
    display: flex;
    justify-content: center;
    gap: 15px;

}
.instuction-img {
    width: 400px;
}
.instuction-text {
    width: 400px;
    align-self: center;
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('assets/site-sand-dnishe.png');
    align-items: center;
}

.download_button {
    position: relative;
    order: 1;
    margin: 10px;
    width: 200px;
    font-size: 2em;
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px;
    background-color: rgb(43, 226, 137);
    text-decoration: none;
    color: beige;
    text-align: center;
    font-family: pepa;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.454);
}





.bubbles {
    display: flex;
    justify-content: space-between;
}

.bubble-left {
    display: flex;
}

.bubble-left-1 {
    animation: fly 5s infinite 0.8s;
}

.bubble-left-2 {
    animation: fly 5s infinite;
}

.bubble1-img {
    width: 50px;
}
.bubble-right {
    display: flex;
}

.bubble-right-1 {
    animation: fly 5s infinite 0.4s;
}

.bubble-right-2 {
    animation: fly 5s infinite;
}

.bubble2-img {
    width: 50px;
}

@keyframes fly {
    0% { 
        translate: 0 0px;
    }
    100% {
        translate: 0 -2125px;
    }
}

/* name duration timing-function delay iteration-count direction fill-mode */
